@charset "utf-8";
/* CSS Document */

@media( max-width:1170px) {
.menu .navbar-nav>li {
	padding-left: 9px;
}
.header-title span {
	font-size: 14px;
}
/***************block2**********************/
.aside-section {
	padding-bottom: 0;
}
.main-haeding .last-line {
	padding: 4px 0;
}
.block2 .labour li a {
	font-size: 12px;
}
.block2 .labour {
	padding-top: 8px;
}
.block2 .labour li {
	padding: 3px;
}
.samachar-head h4 {
	margin-bottom: 8px;
}
.right-image {
	padding-bottom: 33px;
}
.block2 .side-text, .side-news {
	border-bottom: 1px solid #ccc;
	padding: 9px 0;
}
.first-h5 {
	margin-bottom: 0px;
}
.middle-top .middle-right p {
	font-size: 13px;
}
.middle-top {
	padding-bottom: 12px;
}
.middle-right h6 {
	font-size: 12px;
}
/*******************economice********************/

.economice .image-first {
	padding-bottom: 10px;
	height: 385px;
}
/*********kalkud**************/
.health .health-left {
	margin-bottom: 26px;
}
.health-cover {
	padding-top: 45px;
}
/***********movies*************/
.movies-top .movies {
	padding-bottom: 5px;
}
.movies-text p:after {
	margin-top: 25px;
	margin-bottom: 25px;
}
.block3 .movies-add {
	margin-bottom: 72px;
}
.health .health-right {
	padding-left: 13px;
}
.kalkud-right .kalkud-text:after {
	margin-top: 5px;
	margin-bottom: 5px;
}
.Prawas .Prawas-left {
	margin-bottom: 33px;
}
.Prawas .Prawas-right {
	padding-left: 13px;
}
/********Vidio*******/		

.video-right {
	padding-left: 13px;
}
.video .left-side {
	padding-bottom: 0px;
	margin-bottom: -41px;
}
.video {
	margin-bottom: 50px;
}
}
 @media (max-width:1024px) and (min-width:768px) {
/*******menu************/
.menu .navbar-inverse .navbar-nav>li>a {
	color: #fff;
	font-size: 13px;
	padding-left: 0;
}
.nav .fa-home {
	margin-left: 8px;
}
.header-title span {
	font-size: 10px;
}
/*******block**************/
.block .col-sm-8 {
	width: 100%;
}
.block .col-sm-4 {
	width: 100%;
}
.block .first-image {
	width: 29%;
}
.block .first-text p {
	font-size: 16px;
}
.main-haeding .last-line {
	padding: 27px 0;
}
/**********block2***************/
.block2 .col-sm-8 {
	width: 100%;
}
.block2 .col-sm-4 {
	width: 100%;
}
.right-image {
	text-align: center;
	padding-top: 20px;
}
.block2 .side-text, .side-news {
	padding: 20px 0;
}
/**********block2***************/
	
.block3 .movies-add {
	margin-bottom: 15px;
}
.first-text p {
	font-size: 16px;
}
.economice .col-sm-7 {
	width: 100%;
}
.economice .col-sm-3 {
	width: 100%;
	padding-top: 20px;
}
.economice .col-sm-3 img {
	max-width: 60%;
}
.economice .col-sm-2 {
	width: 100%;
	text-align-last: center;
	padding-top: 20px;
}
/********kalkud*******/
.kalkud .col-sm-7 {
	width: 100%;
	margin-bottom: 50px;
	text-align: center;
}
.kalkud .col-sm-7 img {
	width: 50%;
}
.kalkud .col-sm-5 {
	width: 100%;
}
.kalkud-right .kalkud-text:after {
	margin-top: 15px;
	margin-bottom: 15px;
}
.health .health-left {
	width: 28%;
}
.health-right h6 {
	font-size: 16px;
}
.video .col-sm-7 {
	width: 100%;
}
.video .col-sm-5 {
	width: 100%;
}
.video-right h6 {
	margin-bottom: 59px;
}
.vodeo-text {
	padding-top: 15px;
}
.video-top h3 {
	text-align: center;
}
.video-text p {
	text-align: center;
}
.video-right {
	padding-top: 15px;
}
/*******block3*******/
.block3 .col-sm-9 {
	width: 100%;
}
.block3 .col-sm-3 {
	width: 100%;
	text-align: center;
}
.block3 .pul-right {
	float: none;
}
.block3 .movies-add {
	float: none !important;
	padding-top: 50px;
}
/*****fiture********/
.fiture .col-sm-9 {
	width: 100%;
}
.fiture .col-sm-3 {
	width: 100%;
	text-align: center;
}
.fiture .fiture-add {
	float: none !important;
	padding-top: 50px;
}
.middle-right h6 {
	font-size: 9px;
}
.middle-top .middle-right p {
	font-size: 10px;
}
.middle-top {
	width: 49%;
	display: inline-block;
}
.add-news-img, .add-news-detail{
	width: 100%;
	padding-left:0;
	padding-right: 0;
	}
.title-news h3{
	padding-top: 10px;
}
.title-news .row{
	margin:0;
	padding: 15px 0;
}
.news-left-part .main-news-img, .news-left-part .main-news-article{
	width: 100%;
}
.news-left-part .main-news-article{
	margin-top: 10px;
}
.sub-title .sub-news{
	width: 50%;
}
.title-detail-header{
	text-align: center;
}
}

 @media( max-width:768px) {
.main-catagories-part{
		 text-align: center;
}
.main-catagories-part .row{
	margin:10px auto 10px ; 
	width: 100%;
}
/******	header*********/
.header-title span {
	font-size: 11px;
}
.top-header{
	float: none
}
.top-header li{
	display: inline-block;
	float: none;
}

block, .block2, .economice, .kalkud, .banner-add, .block3, .top-header {
	text-align: center;
}
/******block2***********/
.block2 .right-image {
	padding-top: 33px;
}
.block2 .samachar-head h6 {
	padding-top: 30px;
}
.block2 .side-back {
	padding-top: 10px;
}
/*******economice********/
.economice .first-top {
	padding-top: 10px;
}
.economice .middle-image .middle-left img {
	width: auto;
}
.economice .middle-top {
	padding-top: 12px;
}
.economice .image-first {
	padding-top: 20px;
}
.middle-image .middle-right {
	width: auto;
}
/******banner-add********/
.banner-add-right {
	padding-top: 20px;
}
/******entertainment******/

.movies-top .movies {
	padding-top: 20px;
}
.movies-text {
	padding-top: 15px;
}
.movies-add {
	float: none !important;
	padding-top: 20px;
}
/*****fiture*********/

.fiture-image {
	text-align: center;
}
.fiture-add {
	float: none !important;
	padding-top: 20px;
	text-align: center;
}
/*****video******/
.nav-tabs>li {
	float: left;
	margin-bottom: 60px;
}
/******health**********/
.health .health-right {
	width: 45%;
}
/********kalkud****************/
.kalkud-top .kalkud-first p {
	font-size: 15px;
	padding-top: 20px;
}
.kalkud-image {
	padding-top: 40px;
}
.kalkud-right .kalkud-text:after {
	margin-top: 15px;
	margin-bottom: 15px;
}
/*********footer*************/
.footer-left p {
	padding-top: 20px !important;
	padding-bottom: 30px;
}
.footer-right {
	padding-top: 15px;
}
.main-footer {
	text-align: center;
}
.Prawas .Prawas-left {
	width: 23%;
}
.Prawas .Prawas-right {
	width: auto;
}
.health-prawas {
	padding-top: 15px;
}
.economice .image-first {
	height: auto;
}
.fiture-add {
	margin-bottom: -13px;
}
.fiture .fiture-add {
	padding-top: 30px;
}
.block2 .labour li a {
	font-size: 9px;
}
.header-title span {
	font-size: 11px;
	width: calc(100% - 70px);
	float: right;
	top: 14px;
}
.header-title .top {
	width: 55px;
}
.nav>li>a {
	padding: 10px 6px;
}
.menu .navbar-nav>li {
	padding-left: 6px;
}
.footer-right img {
	padding-top: 0;
}
.block3 .movies-add {
	padding-top: 15px !important;
}
.block2 .right-image {
	padding-top: 20px;
	padding-bottom: 10px;
}
.main-news-article p {
	font-size: 12px;
	margin-top: 10px;
}
#section-catagories p {
    margin-top: 10px;
}
.sub-news{
	margin-bottom: 10px;
}
.samachar-head {
	text-align: center;
}
.block2 .samachar-text {
	width: 42%;
	padding-left: 7px;
	padding-top: 27px;
	text-align: left;
}
.first-text{
	text-align: left;
}
.block2 .samachar-image {
	text-align: center;
	padding-top: 10px;
}
.title-news .row{
	margin:0;
	padding: 15px 0;
}
.last-add, .add-right-part, .sub-news, .main-detail-part{
	text-align: center;
}

}


 @media(max-width:480px) {
.block3 .movies-add {
	margin-bottom: 10px;
}
.kalkud-right .kalkud-text p {
	font-size: 14px;
}
/*****detail-page*****/
.title-detail-header {
	text-align: center;
}
#section-catagories {
	text-align: center;
}
.main-catagories-part {
    margin: 0;
}
 }
 @media(max-width:320px) {
 .banner .banner-color h2 a {
 font-size:32px;
}
 .banner .banner-color h2 {
 font-size:28px;
}
 .banner .banner-image .title {
 font-size:12px;
}
 .block .left-image h2 {
 font-size:22px;
}
.block .text {
 font-size:12px;
 line-height:18px;
}
.samachar-head h6 {
 font-size:12px;
}
.samachar-text h6 {
 font-size:10px;
}
.samachar-text p {
 font-size:9px;
}
 .second-part-text h5 {
 font-size:11px;
}
.second-part-text p {
 font-size:8px;
}
.first-bottom h6 {
 font-size:9px;
}
.economice .first-bottom p {
 font-size: 7px;
}
.middle-image .middle-right {
 width: 53%;
}
.middle-right h6 {
 font-size: 9px;
}
.middle-top .middle-right p {
 font-size: 9px;
}
.kalkud-top .kalkud-first h4 {
 font-size:15px;
 line-height:27px;
}
.kalkud-top .kalkud-first p {
 font-size: 10px;
 padding-top: 20px;
}
.kalkud-second h6 {
 font-size:11px;
}
.kalkud-top .kalkud-second p {
 font-size: 9px;
}
 .health .health-right h6 {
 font-size:11px;
}
 .health h5 {
 font-size:12px;
}
 .health .health-right p {
 font-size: 9px;
}
 .entertainment .movies p {
 font-size: 10px;
}
.movies-text p {
 font-size:10px;
}
.kalkud-right .kalkud-text p {
 font-size: 8px;
}
.Prawas-right h6 {
 font-size:10px;
}
.Prawas-right p {
 font-size:9px;
 padding-top:8px;
}
.video-top h3 {
 font-size: 15px;
}
.video-text p {
 font-size: 13px;
}
.video-right h6 {
 font-size: 10px;
}
.video-right p {
 font-size: 10px;
}
.health .abc {
 font-size: 10px;
}
.block2 .labour li a {
 font-size: 12px;
}
